/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap');
.oswald-uniquifier {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Replace with a valid font-weight value */
    font-style: normal;
  }
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
/*asterisk wildcard selector to override default styles added by the browser */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*general styles for the body*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles*/
    color: #3a3a3a;
    font-family: 'lato', sans-serif;
}
header {
    background-color:lightcoral; 
 
    h1 {
        font-family: 'Oswald', sans-serif;
    
    }
    
}
main {background-color: lightblue;
    /*make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;

}
footer {
    background-color: orange;
    
}